.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 15vmin;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header-text h1 {
  font-size: 4.5rem;
}

.header-text p, .sub_btn {
  border-bottom: 2px solid black;
  display: inline-block;
}
.header-text p:hover, .sub_btn:hover {
  color: #d19869;
  border-bottom: 2px solid #d19869;
  cursor: pointer;
}
.banner-img{
    width: 70%;
}