.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 100px;
  margin-top: 4.4rem !important;
  margin-bottom: 3rem !important;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.logo {
  width: 60%;
}
a{
  color: black;
}

.account-btn {
  display: inline-block;
  padding: 6px 24px !important;
  background-color: #CD8F5C;;
  color: white !important;
  border: 2px solid #CD8F5C;;
}
.account-btn:hover {
  cursor: pointer;
  padding: 6px 24px !important;
  background-color: white;
  color: #CD8F5C !important;
  border: 2px solid #CD8F5C;;
}

.header-text h1 {
  font-size: 4.4rem;
}

.header-text p,
.sub_btn {
  border-bottom: 2px solid black;
  display: inline-block;
}
.header-text p:hover,
.sub_btn:hover {
  color: #d19869;
  border-bottom: 2px solid #d19869;
  cursor: pointer;
}
.banner-img {
  width: 70%;
}

.custom-btn {
  padding: 10px 24px;
  border: 2px solid black;
  background-color: transparent;
}
.custom-btn:hover {
  border: 2px solid black;
  background-color: black;
  color: white;
}
.card {
  border: 0px !important;
}
.card-title {
  font-size: 3.5rem !important;
}

.img-blur:hover {
  filter: blur(2px);
}
.product-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px;
}
.product img {
  width: 260px;
  height: 290px;
}
.product p:last-child {
  font-weight: 500;
}

.breadcrumb {
  background-image: url("http://localhost:3000/breadcrumb.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;
  font-size: 2.5rem;
  font-weight: 600;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px;
}

.bottom {
  height: 600px;
}
.input {
  border: 0px;
  border-bottom: 2px solid #eeeeee;
  width: 50%;
}
.input:focus {
  outline: 0px;
}
.footer-menu {
  color: #eeeeee;
}
.footer {
  border-top: 2px solid #eeeeee;
}
.footer-icons {
  font-size: 1.2rem;
}

.blog-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 25px;
}
.blog img {
  width: 100%;
}
.blog p {
  text-align: justify;
}
.contact-form {
  width: 450px;
}


.dashboard-navbar{
  background-color: #F5F5F5;
  display: inline-block;
}
.dashboard-navbar ul{
  padding: 20px;
}
.dashboard-navbar ul li a{
  color: black !important;
  padding: 10px 24px;
  font-weight: 600;
}
.dashboard-navbar ul li a:hover{
  background-color: #CD8F5C;
  color: white !important;
}
.extra-padding{
  padding: 10px !important;
}
.extra-padding:hover{
  padding: 10px !important;
}

.dashboard{
  position: relative;
}
.dashboard-content{
  position: absolute;
  padding: 25px;
  margin-top: 45px;
}




@media (max-width: 768px) {
  body {
    width: 90%;
    margin: 0 auto;
  }
  .contact {
    display: flex;
    flex-direction: column !important;
  }
  .contact-form {
    width: 250px;
  }
  .mobile-hide {
    display: none;
  }
  .product-items {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .product-list {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .blog-list {
    grid-template-columns: 1fr;
  }
  .about-img {
    width: 100px !important;
  }
  .product div {
    display: flex;
    flex-direction: column;
  }
  .footer-text {
    text-align: center;
  }
  .footer-menu {
    justify-content: center !important;
    text-align: center !important;
    padding-top: 10px;
  }
}
